a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #4CAF50;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
  position: absolute;
  bottom: 300px;
  text-align: center;
  right: 0%;
  font-size: 25px;
  
}

.round {
  border-radius: 50%;
}

body{
  background-color: skyblue;
}